{% extends 'TheBlackLionLExSplitterBundle::base.html.twig' %}

{% block body %}
    <form>

        <div class="row">
            <div class="col-xs-12">

                {# Selection of person which did the payment #}
                <div class="form-group">
                    <label for="paymentBy">Payment by</label>
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-default active">
                            <input type="radio" name="options" id="paymentBy1" autocomplete="off" checked> Martin
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" name="options" id="paymentBy2" autocomplete="off"> Nico
                        </label>
                    </div>
                </div>

                {# Select/enter what was paid #}
                <div class="form-group">
                    <label for="paidWhat">What was paid?</label>
                    <select class="combobox input-large form-control" name="paidWhat" id="paidWhat">
                        <option value="" selected="selected">Description</option>
                        <option value="PA">Billa</option>
                        <option value="CT">Putzfrau</option>
                        <option value="NY">Spar</option>
                        <option value="VA">Mittagessen</option>
                        <option value="MD">Merkur</option>
                    </select>
                </div>

                {# Enter paid amount #}
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <div class="input-group">
                        <span class="input-group-addon">EUR</span>
                        <input type="text" class="form-control" aria-label="Amount" id="amount">
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                {# Define split #}
                <div class="form-group">
                    <label for="split">How to split?</label>
                    <table class="table">
                        {# <thead>
                        <tr>
                            <th>Person</th>
                            <th>Percentage</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody> #}
                        <tr>
                            <td>Martin</td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label=Percentage" id="splitPercentage1">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">EUR</span>
                                    <input type="text" class="form-control" aria-label="Amount" id="splitAmount1">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Nico</td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label=Percentage" id="splitPercentage2">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">EUR</span>
                                    <input type="text" class="form-control" aria-label="Amount" id="splitAmount2">
                                </div>
                            </td>
                        </tr>
                        {# </tbody> #}
                    </table>
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-warning btn-block">Reset Split</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block">Split Equally</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <button type="submit" class="btn btn-success btn-lg btn-block">Save Payment</button>

            </div>
        </div>

    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# Combobox functionality - coverts select into combobox #}
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){
            $('.combobox').combobox()
        });
        //]]>
    </script>
{% endblock %}