{% extends 'TheBlackLionLExSplitterBundle::base.html.twig' %}

{% set ng_page = 'addPayment' %}

{% block body %}
    <h1>Menu</h1>
    <form action="#">

        {# Selection of person which did the payment #}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="paymentBy">Payment by</label>
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary active" data-ng-click="payment.payer.personId = 1">
                            <input type="radio" data-ng-model="payment.payer.personId" name="payment.payer.personId" autocomplete="off" value="1" checked>Martin
                        </label>
                        <label class="btn btn-primary" data-ng-click="payment.payer.personId = 2">
                            <input type="radio" data-ng-model="payment.payer.personId" name="payment.payer.personId" autocomplete="off" value="2">Nico
                        </label>
                    </div>
                </div>
            </div>
        </div>
        {# Select/enter what was paid #}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="paidWhat" id="paidWhatLabel">What was paid?</label>
                    <select class="combobox input-large form-control" name="paidWhat" id="paidWhat">
                        <option value="">Description</option>
                        <option value="1" selected="selected">Billa</option>
                        <option value="2">Putzfrau</option>
                        <option value="3">Spar</option>
                        <option value="4">Mittagessen</option>
                        <option value="5">Merkur</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            {# Enter payment date #}
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="amount">Date</label>
                    <input type="date" data-ng-model="payment.bill.date" name="payment.bill.date" class="form-control" aria-label="Date" value="2015-01-05">
                </div>
            </div>

            {# Enter paid amount #}
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <div class="input-group">
                        <span class="input-group-addon">EUR</span>
                        <input type="number" data-ng-model="payment.bill.amount" name="payment.bill.amount" class="form-control" aria-label="Amount" step="0.01" required value="20.75">
                    </div>
                </div>
            </div>
        </div>

        {# Define split #}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="split" id="splitLabel">How to split?</label>

                    <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-primary active" data-ng-click="payment.split.method = 'equal'; toggleSplitMethodForm(payment.split.method);">
                                <input type="radio" data-ng-model="payment.split.method" name="payment.split.method" id="splitMethod1" autocomplete="off" value="equal" checked>Equal
                            </label>
                            <label class="btn btn-primary" data-ng-click="payment.split.method = 'other'; toggleSplitMethodForm(payment.split.method);" aria-expanded="false" aria-controls="otherSplitFields">
                                <input type="radio" data-ng-model="payment.split.method" name="payment.split.method" id="splitMethod2" autocomplete="off" value="other">Other
                            </label>
                        </div>
                        Value: {% verbatim %}{{payment.split.method  }}{%  endverbatim %}

                        <div class="collapse" id="otherSplitFields">
                            <div class="well">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td colspan="2" style="border-top: none">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="btn-group btn-block" data-toggle="buttons">
                                                        <label class="btn btn-default btn-block">
                                                            <input type="checkbox" autocomplete="off" id="fullyAssigned1">Martin
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: none">
                                            <div class="input-group">
                                                <input type="number" class="form-control" aria-label=Percentage" id="splitPercentage1" min="0" max="100" step="0.01">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>

                                        <td style="border-top: none">
                                            <div class="input-group">
                                                <span class="input-group-addon">EUR</span>
                                                <input type="number" class="form-control" aria-label="Amount" name="splitAmount1" id="splitAmount1" step="0.0001">
                                            </div>
                                        </td>
                                    </tr>
                                    <input type="hidden" id="fixedParameter1" name="fixedParameter1">

                                    <tr>
                                        <td colspan="2">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="btn-group btn-block" data-toggle="buttons">
                                                        <label class="btn btn-default btn-block">
                                                            <input type="checkbox" autocomplete="off" id="fullyAssigned2">Nico
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-top: none">
                                            <div class="input-group">
                                                <input type="number" class="form-control" aria-label=Percentage" id="splitPercentage2" min="0" max="100" step="0.01">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </td>

                                        <td style="border-top: none">
                                            <div class="input-group">
                                                <span class="input-group-addon">EUR</span>
                                                <input type="number" class="form-control" aria-label="Amount" name="splitAmount2" id="splitAmount2" step="0.0001">
                                            </div>
                                        </td>
                                    </tr>
                                    <input type="hidden" id="fixedParameter2" name="fixedParameter2">
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-xs-6">
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-warning btn-block" id="clearButton">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        {# Submit data button #}
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">

                <br/>
                <button type="submit" class="btn btn-success btn-lg btn-block">Save Payment</button>
                <br/>

            </div>
            <div class="col-xs-2">
            </div>
        </div>

    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Page specific javascript #}
    {% if ng_page is defined %}
        {% javascripts
            "@TheBlackLionLExSplitterBundle/Resources/public/js/addpayment/*-module.js"
            "@TheBlackLionLExSplitterBundle/Resources/public/js/addpayment/*-[!m]*.js"
            output="/js/addpayment.js"
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}